@using FileStorage.PL.WEB.Helpers

<ul class="nav navbar-nav navbar-right">
    <li>
        <select class="selectpicker" data-style="btn-primary" data-width="fit" onchange="location = this.value;">
            @Url.LangSwitcher("en", ViewContext.RouteData, "en")
            @Url.LangSwitcher("uk", ViewContext.RouteData, "uk")
        </select>
    </li>
</ul>
