@using App_LocalResources
@model FileStorage.PL.WEB.Models.ShortLinkViewModel


<div>
    <dl>
        <dd>
            @Html.EditorFor(model => model.ShortLink, new
            {
                htmlAttributes = new
                {
                    @class = "form-control", width = "auto", @readonly = true

                }
            })
        </dd>
        <dd>.</dd>
        <dd>
            @using (Html.BeginForm("Download", "File", new {id = Model.Id}, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="@Resource.Download" class="btn btn-primary center-block"/>
            }
        </dd>
    </dl>
</div>


