@model FileStorage.PL.WEB.Models.ShortLinkViewModel


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.EditorFor(model => model.ShortLink, new { htmlAttributes = new { @class = "form-control" } })
        </dt>
        <dd>
            @Html.ActionLink("Завантажити", "Download", "File", new {id = Model.Id},null)
        </dd>
    </dl>
</div>


