@using (Ajax.BeginForm("_GetAll",
    new AjaxOptions
    {
        UpdateTargetId = "data",
        LoadingElementId = "loading",
        LoadingElementDuration = 10
    }
    ))
{
    <input type="text" name="search" />
    <input type="submit" value="Поиск" />
}

<div id="loading" style="display:none; color:Red; font-weight:bold;">
    <p>Идет загрузка...</p>
</div>
