<div class="search-box">
    @using (Ajax.BeginForm("_Update",
        new AjaxOptions
        {
            UpdateTargetId = "data",
            LoadingElementId = "loading",
            LoadingElementDuration = 10
        }
        ))
    {
        <i class="material-icons">&#xE8B6;</i>
        <input type="text" name="search" class="form-control" placeholder="Search&hellip;">
    }
</div>
<div id="loading" style="display:none; color:black; font-weight:bold;">
    <p>Йде пошук...</p>
</div>
