@model IEnumerable<FileStorage.BLL.DTO.FileInfoDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_Search")

<table class="table">
    <thead>
        @Html.Partial("_TableHead", @Model)
    </thead>
    <tbody id="data">
        @Html.Partial("_TableBody", @Model)
    </tbody>
</table>
